.text-coffee {
  color: #c49b63 !important;
}

html {
  scroll-behavior: smooth;
}

.column {
  display: none;
}

.show {
  display: block;
}

body {
  background: url(imgs/background.JPG) no-repeat fixed;
  background-size: cover;
  width: 100%;
  color: gray;
}

section {
  padding: 80px 0;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .navbar-brand {
  font-size: 22px;
  line-height: 1;
}

.navbar a {
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1 !important;
  font-size: 13px;
  padding: 20px 15px !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .active,
.navbar a:hover {
  color: #c49b63 !important;
}

.navbar .navbar-toggler {
  border: 1px solid #fff !important;
}

.navbar .navbar-toggler span {
  border-bottom: 1px solid #fff;
  height: 10px;
}

.carousel {
  z-index: -1;
}

.carousel img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 750px !important;
}

.carousel .carousel-caption {
  left: 20%;
  right: 20%;
  top: 29%;
}

.carousel .carousel-caption span {
  font-family: "Pacifico", cursive;
  color: #c49b63;
  font-size: 24px;
}

.carousel .carousel-caption h1 {
  font-family: "Poppins", sans-serif;
  font-size: 46px;
}

.carousel .carousel-caption .btn {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.carousel .carousel-caption .btn-primary {
  background-color: #c49b63 !important;
  border: 1px solid #c49b63 !important;
  color: black !important;
  cursor: pointer;
}

.carousel .carousel-caption .btn-primary:hover {
  background: transparent !important;
  color: #c49b63 !important;
}

.carousel .carousel-caption .btn-outline-light:hover {
  background-color: #c49b63 !important;
  color: #000 !important;
}

.intro {
  margin-top: -136px;
  width: 100%;
}

.intro .info {
  background: black;
  width: calc(100% - 35%);
  padding: 2% 5% 0 12%;
}

.intro .info i {
  color: #c49b63;
}

.intro .info h3 {
  font-size: 16px;
  line-height: 27px;
}

.intro .info p {
  color: gray;
}

.intro .booking {
  background-color: #c49b63;
  width: 35%;
}

.intro .booking .submit {
  border-color: #fff !important;
}

.booking input,
.booking textarea {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding-bottom: 18px;
  margin-right: 10px;
}

.booking ::-webkit-input-placeholder,
.booking i,
.booking button {
  color: #fff;
}

.booking :-ms-input-placeholder,
.booking i,
.booking button {
  color: #fff;
}

.booking ::-ms-input-placeholder,
.booking i,
.booking button {
  color: #fff;
}

.booking ::placeholder,
.booking i,
.booking button {
  color: #fff;
}

.about .image {
  background: url(imgs/about.JPG);
  width: 50%;
  background-size: cover;
}

.about .text {
  padding: 8% 13% 8% 5%;
  width: 50%;
}

.about .text .info {
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  margin-left: -150px;
}

.about .text .info span {
  font-family: "Pacifico", cursive;
  color: #c49b63;
}

.about .text .info h1 {
  margin-top: -22px;
}

.services {
  background: #c49b63;
}

.services .icon {
  width: 100px;
  height: 100px;
  border: 1px solid #674c27;
  position: relative;
  margin: 0 auto;
}

.services span {
  color: #1d150b;
  font-size: 53px;
}

.menu span {
  color: #c49b63;
  font-family: "Pacifico", cursive;
}

.menu h1 {
  margin-top: -22px;
}

.menu button {
  color: #c49b63;
  border: 1px solid #c49b63;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 12px;
}

.menu button:hover {
  color: #fff;
  background: #c49b63 !important;
}

.contentLink a {
  height: 200px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  display: block;
}

.counter {
  background: url(imgs/counter.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -85px;
  position: relative;
  z-index: 0;
}

.counter .icon {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
  border: 2px solid #c49b63;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.counter .icon span {
  top: 50%;
  left: 0;
  right: 0;
  color: #c49b63;
  position: absolute;
  font-size: 40px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.counter .icon .code::before {
  font-family: Flaticon;
  content: "\f100";
  font-weight: 400;
}

.counter .icon:hover {
  background: #c49b63;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.counter .icon:hover span {
  color: #fff !important;
}

.seller a,
.product p a {
  text-decoration: none;
  border: 1px solid #c49b63;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.seller a:hover,
.product p a:hover {
  color: #fff !important;
  background: #c49b63;
}

.heading span {
  font-family: 'Great Vibes', cursive;
  font-size: 51px;
}

.heading h1 {
  margin-top: -36px;
}

.gallery a {
  height: 300px;
}

.product .box {
  margin-bottom: 30px;
}

.product li {
  color: #c49b63;
  border-bottom: 2px solid #c49b63;
}

.product img {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;
  height: 270px;
  max-height: 100%;
}

.product .btn {
  color: #c49b63;
  border-bottom: 1px solid #c49b63;
  padding: 10px 10px;
  font-size: 21px;
  text-transform: capitalize;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 14px;
}

.product .active, .product .btn:hover {
  color: black;
  background: #B18C59;
}

.customer {
  padding-top: 80px !important;
  background: url(imgs/slider1.PNG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.customer .testi {
  background: #c49b63;
}

.customer .testi p {
  color: #fff !important;
  line-height: 28px;
}

.customer .odd {
  background: #B18C59 !important;
}

.customer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog a {
  height: 250px;
  text-decoration: none;
  color: gray;
}

.location {
  background: #000;
}

.location .submit {
  background: #c49b63;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid #c49b63 !important;
}

.location .submit:hover {
  background: #000;
  color: #c49b63 !important;
  border: 1px solid #c49b63 !important;
}

.footer {
  background: #120F0F;
}

.footer img {
  width: 100px;
  height: 100px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.footer a {
  color: gray;
  font-size: 13px;
  text-decoration: none;
}

.footer .date i {
  color: #bfbfbf;
  padding: 0 5px;
  font-size: 14px;
}

.footer .one span {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.footer .one i {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style-type: none !important;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 17px;
}

@media (min-width: 400px) and (max-width: 767px) {
  .location iframe {
    width: 100%;
  }
  .intro {
    margin-top: 0;
  }
  .intro .info,
  .intro .booking {
    width: 100%;
  }
  .booking .form-group {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .about .image,
  .about .info,
  .about .text {
    width: 100% !important;
  }
  .about .image {
    height: 300px !important;
  }
  .about .info {
    margin-left: 0 !important;
    background: none !important;
    padding: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    background-color: #000 !important;
    padding: 0 !important;
  }
  .navbar .navbar-brand {
    padding: 13px 0;
  }
  .carousel .carousel-caption {
    top: 20%;
  }
  .intro {
    margin-top: 0;
  }
  .intro .info,
  .intro .booking {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */